$gray           : #a8bece;
$gray-light     : #e9eff3;
$gray-lighter   : #f9fbfc;
$gray-dark      : #3d596d;
$gray-darker    : #2e4453;
$color-primary  : #d54e21;
$color-secondary: #0087be;

$color-url      : #0087be;
$color-url-hover: lighten($color-url, 3%);

$color-success  : #4ab866;
$color-warning  : #f0821e;
$color-error    : #d94f4f;
$color-info     : #4f748e;
