@import "variables";

.wp-chimp-subscription-form {

	margin: 0;

	&--editable {

		&:focus {
			outline: 1px dotted $gray;
			outline-offset: 3px;
		}
	}

	&__email-field {
		color: $gray;
	}

	&__select-list {
		margin: 0;
		height: 36px;
		padding: 3px;
		display: flex;
		align-items: center;

		select {
			width: 100%;
			max-width: 280px;
			border-radius: 0;
		}

		.spinner {
			margin-top: 0;
		}

		.dashicon {
			margin: 0 8px;
		}
	}

	&__loading-lists {
		display: table;
		padding: 3em;
		background: #f3f3f4;
		height: 120px;
		text-align: center;
		width: 100%;

		.spinner {
			float: none;
		}
	}
}
