@import "variables";

.wp-chimp-subscribe-form {

	margin: 0;

	&__email-field {
		color: $gray;
	}

	&__heading,
	&__sub-heading,
	&__email-field,
	&__button {

		&:focus {
			outline: 1px solid $gray;
			outline-offset: 3px;
		}
	}

	&__select-list {
		margin: 0;
		height: 36px;
		padding: 3px;
		display: flex;
		align-items: center;

		select {
			width: 100%;
			max-width: 280px;
			border-radius: 0;
		}

		.spinner {
			margin-top: 0;
		}

		.dashicon {
			margin: 0 8px;
		}
	}
}
