@import "variables";

.wp-block-wp-chimp-subscribe-form {

	&__select-list {
		margin: 0;
		height: 36px;
		padding: 3px;
		display: flex;
		align-items: center;

		select {
			width: 100%;
			max-width: 280px;
			border-radius: 0;
		}

		.spinner {
			margin-top: 0;
		}

		.dashicon {
			margin: 0 8px;
		}
	}
}
