/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.wp-chimp-table {
	margin: 30px 0;

	&__th-id,
	&__th-subscribers,
	&__th-last-sync {
		width: 100px;
	}

	&__th-shortcode {
		width: 280px;
	}
}
